h2{
    background-color: #3b405c !important;
    color: white !important;
}

.form-modal{
    display: flex;
    flex-direction: column;
}

.buttons-modal-section{
    display: flex;
    justify-content: flex-end;
}

.button-primary{
    background-color: #3b405c !important;
    color: white !important;
}