<div class="container">
    <div class="login-container">
        <div class="section-login-l" *ngIf="loginForm" >
            <form class="login-form" [formGroup]="loginForm" (submit)="doLogin()" >
                
                <img src="../../../../assets/img/keyence.svg" alt="">

                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email" type="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>

                
                <button type="submit" mat-raised-button color="primary">Entrar</button>

            </form>
        </div>
    </div>
</div>