html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #e1eef9;
  }

.container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
}