.table-container {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 90vh;
  overflow: auto;
  border: 1px solid;
  table {
    width: 100%;
    overflow-y: auto;
  }
}

.fixed-fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
